{
    "site": {
        "name": "Anzu",
        "description": "",
        "url": "http://localhost:3200"
    },
    "application": {
        "secret": "",
        "gaming": "./gaming.json",
        "acl": "./roles.json",
        "page": "",
        "siteUrl": "",
        "templates": "./static/templates/**/*"
    },
    "auth": {
        "facebook": {
            "callback": "",
            "key": "",
            "secret": ""
        }
    },
    "environment": "development",
    "database": {
        "uri": "mongodb://",
        "name": "anzu"
    },
    "cache": {
        "redis": "127.0.0.1:6379"
    },
    "sentry": {
        "dns": ""
    },
    "mail": {
        "driver": "",
        "api_key": "",
        "from": {
            "name": "Anzu",
            "email": "hello@anzu.io"
        },
        "recipients": ["fernandez14@outlook.com"]
        "ignored": "./static/resources/burner-emails.txt"
    },
    "amazon": {
        "url": "",
        "access_key": "",
        "secret": "",
        "s3": {
            "bucket": "spartan"
        }
    },
}