{
"site": {
       "name": "Anzu",
       "description": "",
       "url": "http://localhost:3200"
   },
    "application": {
        "secret": "",
        "gaming": "./gaming.json",
        "acl": "./roles.json"
    },
    "environment": "development",
    "ports": {
        "zmq": "5560",
        "http": "3000",
        "socket": "8083"
    },
    "paths": {
        "assets": ""
    },
    "database": {
        "uri": "mongodb://",
        "name": "spartan"
    },
    "cache": {
        "redis": "127.0.0.1:6379"
    },
    "plugins": {
        "newrelic": "",
        "mandrill": "",
        "socket": "tcp://127.0.0.1:5560",
        "deferpanic": ""
    },
    "sentry": {
        "dns": ""
    },
    "firebase": {
        "url": "",
        "secret": ""
    },
    "azure": {
        "account": "",
        "key": ""
    },
    "mail": {
        "api_key": "",
        "from": {
            "name": "Spartan Geek",
            "email": "bienvenido@spartangeek.com"
        },
        "recipients": ["fernandez14@outlook.com"]
    },
    "amazon": {
        "url": "http://assets.spartangeek.com/",
        "access_key": "",
        "secret": "",
        "s3": {
            "bucket": "spartan"
        }
    },
    "invoicing": {
        "username": "",
        "password": "",
        "series": "",
        "folio": "counter_name"
    }
}
