{{ define "pages/home.tmpl" }}
<!DOCTYPE html>
<html>
<head>
    <title>{{ .title }}</title>

    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ .description }}">
    <meta property="og:description" content="{{ .description }}">
    <meta property="og:title" content="{{ .title }}">
    <meta property="og:image" content="{{ .image }}">
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/dist/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/dist/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/dist/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/dist/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/dist/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/dist/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/dist/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/dist/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/dist/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/dist/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/dist/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/dist/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/dist/favicon-16x16.png">
    <meta content="#131d3a" name="theme-color" />
    <meta name="theme-color" content="#ffffff">
    
    <link type="text/css" rel="stylesheet" href="/assets/dist/{{ .config.Site.Theme }}.min.css">
    {{ if .config.Site.Services.Analytics }}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{.config.Site.Services.Analytics}}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];    
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{.config.Site.Services.Analytics}}');
    </script>
    {{ end }}
</head>
<body class="flex">
    <main class="flex flex-auto" id="react-anzu">
    </main>

    <!-- Anzu board components -->
    <script type="text/javascript">
        window.Anzu = {
            layer: '{{ "site.url" | config }}/v1/',
            globalIO: '{{ "site.url" | config }}',
            site: {{ .config.Site }}
        }
    </script>
    <script type="text/javascript" src="/assets/dist/others.js"></script>
    <script type="text/javascript" src="/assets/dist/core.js"></script>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            var mount = require('src/mount.js');
            mount.anzu(document.getElementById('react-anzu'));
        })
    </script>
</body>
</html>
{{ end }}